/**
* Modules
*/

@import "~normalize.css";
@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/forms";
@import "~slick-carousel/slick/slick";
@import "~include-media/dist/include-media";

/**
* Vars
*/

$text: #575857;
$primary: #d3171a;
$primary-contrast: #fff;
$secondary: #c7e2e5;
$tertiary: #35384e;
$quaternary: #eeeeee;
$white: #fff;
$black: #000;

$font-family-main: "Dax", sans-serif;

$font-size-xsmall: 1.5rem;
$font-size-small: 1.6rem;
$font-size-normal: 1.8rem;
$font-size-medium: 2.5rem;
$font-size-big: 4.5rem;
$font-size-xbig: 5.4rem;

$section-padding-top: 39px;
$section-padding-bottom: 48px;

$transition-fast: 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
$transition-normal: 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);

/**
* Font-face
*/

@font-face {
  font-family: "Dax";
  font-style: normal;
  font-weight: normal;
  src: local("Dax-Regular"),
    url(../../public/fonts/dax/daxregular-webfont.woff) format("woff"),
    url(../../public/fonts/dax/daxregular-webfont.eot) format("eot"),
    url(../../public/fonts/dax/daxregular-webfont.svg#DaxRegularRegular)
      format("svg"),
    url(../../public/fonts/dax/daxregular-webfont.ttf) format("ttf");
}

@font-face {
  font-family: "Dax";
  font-style: normal;
  font-weight: 700;
  src: local("Dax-Bold"),
    url(../../public/fonts/dax/daxbold-webfont.woff) format("woff"),
    url(../../public/fonts/dax/daxbold-webfont.woff2) format("woff2"),
    url(../../public/fonts/dax/daxbold-webfont.eot) format("eot"),
    url(../../public/fonts/dax/daxbold-webfont.svg#daxbold) format("svg"),
    url(../../public/fonts/dax/daxbold-webfont.ttf) format("ttf");
}

/**
* General
*/

html {
  font-size: 62.5%;
}

body {
  font-family: $font-family-main;
  color: $text;
  border-top: 9px solid $tertiary;
  font-size: $font-size-xsmall;

  @include media(">=tablet") {
    font-size: $font-size-normal;
  }
}

img {
  max-width: 100%;
}

.link-block {
  display: block;
  text-decoration: none;
}

/**
* UI components & utilities
*/

.container--root {
  padding: 0 35px;
}

@media (min-width: 768px) {
  .container--root {
    padding: 0 $grid-gutter-width/2;
  }
}

@media (min-width: 1200px) {
  .container--small {
    width: 980px;
  }
}

.container--small {
  max-width: 100%;
}

.row {
  &--small-gutter-between {
    [class*="col-"] {
      &:first-child {
        padding-right: $grid-gutter-width/4;
      }

      &:last-child {
        padding-left: $grid-gutter-width/4;
      }

      &:not(:first-child):not(:last-child) {
        padding-left: $grid-gutter-width/4;
        padding-right: $grid-gutter-width/4;
      }
    }
  }
}

.c-btn {
  display: inline-block;
  background: $primary;
  color: $primary-contrast;
  text-decoration: none;
  font-size: $font-size-small;
  border-radius: 999px;
  padding: 6px 15px;
  font-weight: bold;
  transition: all 150ms linear;
  border: solid 2px $primary;

  &:hover {
    background: $primary-contrast;
    color: $primary;
    text-decoration: none;
    transition: all 200ms linear;
  }

  @include media(">=tablet") {
    padding: 8px 38px;
  }

  &--big {
    font-size: $font-size-medium;
    padding: 10px 44px;
    font-weight: bold;
  }

  &:focus,
  &:active {
    outline: none;
  }
}

.c-section-title {
  font-size: $font-size-big/2;
  text-align: center;
  font-weight: bold;
  margin-top: 0;
  color: $black;

  @include media(">=tablet") {
    font-size: $font-size-big;
  }
}

.c-slider {
  &__item {
    padding: 15px;
    height: 100%;
  }

  @include media("<tablet") {
    margin: 0 25px;
  }
}

.slick-track {
  @include media(">=tablet") {
    display: flex;

    .slick-slide {
      display: flex;
      height: auto;
      align-items: stretch; //optional
      justify-content: center; //optional
    }
  }
}

.formules {
  .slick-slide {
    &,
    &[aria-hidden="true"]:not(.slick-cloned) ~ .slick-cloned[aria-hidden="true"] {
      transform: translateZ(0) scale(0.95);
      transition: all $transition-normal;
    }

    &.slick-center,
    &[aria-hidden="true"]:not([tabindex="-1"]) + .slick-cloned[aria-hidden="true"] {
      transform: translateZ(0) scale(1.1);
    }
  }
}

.remboursements {
  .slick-slide {
    transform: translate3d();
    opacity: 0;
    transform: scale(0.7);
    transition: all $transition-normal;

    &.slick-cloned {
      opacity: 1;
      transform: scale(1);
    }

    &.slick-active {
      opacity: 1;
      transform: scale(1);
    }
  }
}

.slick-arrow {
  background: url(../../public/images/slider-navigation.svg) no-repeat
    center/contain;
  width: 27px;
  height: 60px;
  border: none;
  overflow: hidden;
  text-indent: -9999px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
  transition: opacity $transition-fast;

  /*
  .lp-infirmieres .formules & {
    background-image: url(../../public/images/slider-navigation-white.svg);
    background-size: 13px;
    background-color: $primary;
    width: 45px;
    height: 45px;
  }
  */

  &.slick-disabled {
    opacity: 0.3;
  }

  @include media("<tablet") {
    width: 18px;
    height: 40px;
  }

  &:focus,
  &:active {
    outline: none;
  }

  &:hover:not(.slick-disabled) {
    opacity: 0.7;
  }
}

.slick-prev {
  left: -30px;
  /*
  .lp-infirmieres .formules & {
    left: -34px;
  }
  */
}

.slick-next {
  transform: translateY(-50%) scaleX(-1);
  right: -30px;
  /*
  .lp-infirmieres .formules & {
    right: -34px;
  }
  */
}

.c-cta-wrapper {
  text-align: center;
  margin-top: $section-padding-top;
}

//medium+ screen sizes
@include media(">=desktop") {
  .mobile-only {
    display: none !important;
  }
}

//small screen sizes
@include media("<desktop") {
  .desktop-only {
    display: none !important;
  }
}

/**
* Page header & nav
*/

.header {
  &__logo {
    margin-top: 20px;
    margin-bottom: 15px;
    max-width: 80%;
  }

  &__nav {
    position: absolute;
    top: 0;
    right: 0;
    background: $primary;
  }
}

.link-espace-perso {
  display: inline-block;
  background: $primary;
  color: $primary-contrast;
  text-decoration: none;
  padding: 12px 27px 12px 20px;
  font-size: $font-size-xsmall;
  display: flex;
  transition: transform $transition-fast;

  &:hover {
    transform: translateX(-15px);
    transition: transform $transition-normal;
  }

  @include media("<tablet") {
    padding: 10px 25px 16px 11px;
  }

  &::before {
    content: "";
    display: inline-block;
    background: url(../../public/images/icon-espace-perso.svg) no-repeat
      center/contain;
    width: 16px;
    height: 17px;
    margin-right: 12px;

    @include media("<tablet") {
      width: 20px;
      height: 22px;
      margin-right: 0;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 9px 41px 0;
    border-color: transparent $primary transparent transparent;
    transform: translateX(-100%);

    @include media("<tablet") {
      border-bottom-width: 48px;
    }
  }
}

/**
* Hero section
*/

.hero {
  padding-bottom: $section-padding-bottom;
  border-top: 16px solid $primary;

  @include media(">=tablet") {
    border-width: 32px;
  }

  &__header {
    background: url(../../public/images/hero-background.svg) no-repeat bottom
      10px left 10px / 190px $secondary;
    color: $primary;
    padding: 10px 10px 80px 10px;

    @include media(">=tablet") {
      min-height: 407px;
      padding: 35px 65px;
      background-size: 577px;
      background-position: bottom 31px left 46px;
    }

    .lp-infirmieres & {
      background: url(../../public/images/hero-background-infirmieres.svg) no-repeat center right/653px;
      background: none;
      height: 562px;
      padding-right: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include media(">=tablet") {
        padding-right: 0;
      }

      @include media(">=desktop") {
        margin: 0 -30px;
      }

      @include media("<=desktop") {
        height: 300px;
        background-size: 380px;
      }

      @include media("<tablet") {
        height: 230px;
        padding-bottom: 0;
        background-size: 120px;
      }

      @include media("<=phone") {
        height: 170px;
        padding-bottom: 0;
      }
    }
  }

  &__title {
    font-size: $font-size-normal;
    font-weight: normal;
    display: flex;
    justify-content: flex-end;
    margin: 0;

    @include media(">=tablet") {
      font-size: 32px;
      font-weight: bold;
    }

    @include media(">=desktop") {
      font-size: $font-size-xbig;
      font-weight: bold;
    }

    .lp-infirmieres & {
      position: relative;
      display: block;
      text-transform: uppercase;
      text-align: center;
      transform: rotate(-3deg);
      font-size: 5rem;
      line-height: 1em;
      margin-top: 50px;

      &::after {
        content: "";
        display: block;
        width: 276px;
        height: 29px;
        margin: 0 auto;
        margin-top: 25px;
        background: url(../../public/images/background-article-title-animated.svg)
          no-repeat center/contain;
      }

      @include media("<desktop") {
        font-size: 2.2rem;
        margin-top: 20px;

        &::after {
          width: 125px;
          height: 13px;
          margin-top: 12px;
        }
      }

      @include media("<tablet") {
        font-size: 1.4rem;
        margin-top: 0;

        &::after {
          width: 62px;
          height: 6px;
          margin-top: 6px;
        }
      }
    }
  }

  &__image {
    .lp-infirmieres & {
      flex: 1 1 auto;
      margin-left: 2vw;

      _:-ms-fullscreen, :root & {
        align-self: stretch;
      }
    }

    svg {
      overflow: visible;
      max-width: 100%;
    }

    #depth1, #depth2, #depth3, #depth2bis {
      transition: all 0.2s ease-out;
    }
  }

  &__col {
    &__text {
      @include media(">=tablet") {
        padding-left: 44px;
        font-size: $font-size-normal;
        line-height: 1.22em;
      }
    }
  }
}

.offer {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin-top: 8px;

  @include media(">=tablet") {
    margin-top: -54px;

    .lp-infirmieres & {
      margin-top: 8px;
    }
  }

  &__free-months,
  &__percentage {
    display: inline-block;
    width: 130px;
    height: 130px;
    padding: 12px;
    background: no-repeat center/contain;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 2.2rem;
    transition: all $transition-fast;

    @include media(">=tablet") {
      width: 242px;
      height: 242px;
      font-size: $font-size-big;
    }

    &:hover {
      transform: rotate(3deg) scale(1.05);
      transition-duration: $transition-normal;
    }

    > * {
      transform: rotate(-3deg);
    }

    small {
      font-size: $font-size-normal;
    }
  }

  &__free-months {
    background-image: url(../../public/images/background-2-mois-offerts.svg);
    color: $white;
  }

  &__percentage {
    background-image: url(../../public/images/background-30-pourcents.svg);
    color: $primary;

    &__small {
      font-size: $font-size-xsmall;
      line-height: 1.2em;

      @include media(">=tablet") {
        font-size: $font-size-medium;
      }
    }

    &__condition {
      color: $text;
    }
  }

  &__or {
    font-size: $font-size-medium;
    font-weight: bold;
    margin: 0 10px;

    @include media(">=tablet") {
      font-size: $font-size-xbig;
      margin: 0 24px;
    }

    @include media("<=phone") {
      font-size: 2rem;
      margin: 0 5px;
    }
  }
}

/**
* Formules section
*/

.formules {
  background: radial-gradient(lighten($secondary, 15%), $secondary);
  padding-top: $section-padding-top;
  padding-bottom: $section-padding-bottom;

  &__title-emphasis {
    display: inline-block;
    width: 1.33em;
    height: 1.33em;
    background: url(../../public/images/background-2-mois-offerts.svg) no-repeat
      center/contain;
    color: $primary-contrast;
    vertical-align: text-bottom;
    padding-top: 0.16em;
  }
}

.formule-card {
  height: 100%;
  text-align: center;
  margin: 0 auto;
  background: $white;
  padding: 40px;

  @include media("<desktop") {
    padding: 30px;
  }

  @include media("<=phone") {
    padding: 25px;
  }

  &__title {
    margin-bottom: 18px;
    margin-top: 0;
    font-size: 2.4rem;

    &::after {
      content: "";
      display: block;
      width: 114px;
      height: 12px;
      margin: 0 auto;
      margin-top: 16px;
      background: url(../../public/images/background-article-title.svg)
        no-repeat center/contain;
    }
  }

  &__p {
    margin-bottom: 35px;
  }
}

/**
* Advantages section
*/

.advantages {
  padding-top: $section-padding-top;
  padding-bottom: $section-padding-bottom;
}

.advantage-card {
  position: relative;
  height: 100%;
  background: $quaternary;
  padding: 11px 20px;
  transform: translate3d();
  transition: transform $transition-fast;

  @include media(">=desktop") {
    padding: 22px 40px;
  }

  &__title {
    font-size: $font-size-normal;
    margin-top: 0;
  }

  &__list {
    padding: 0;
    list-style-position: inside;
    font-size: 1.6rem;

    li + li {
      margin-top: 25px;
    }
  }

  &::before {
    content: "";
    display: block;
    background: no-repeat center/contain;
    width: 117px;
    height: 117px;
    margin: 0 auto 25px auto;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: -2px;
    left: 50%;
    transform: translateX(-50%);
    height: 5px;
    width: 120px;
    background: $primary;
    opacity: 0;
    transition: opacity $transition-fast;
  }

  &:hover {
    transform: scale(1.05);
    transition-duration: $transition-fast;

    &::after {
      opacity: 1;
      transition-duration: $transition-normal;
    }
  }

  &--status {
    &::before {
      background-image: url(../../public/images/icon-offre-adaptee.jpg);
    }
  }

  &--assistance {
    &::before {
      background-image: url(../../public/images/icon-assistance.jpg);
    }
  }

  &--appli {
    &::before {
      background-image: url(../../public/images/icon-appli.jpg);
    }
  }
}

/**
* Remboursements section
*/

.remboursements {
  background: $quaternary;
  padding-top: $section-padding-top;
  padding-bottom: $section-padding-bottom;

  &__video {
    margin-bottom: 20px;

    @include media(">=tablet") {
      margin-bottom: 60px;
    }

    &__p {
      font-size: $font-size-small;
      font-weight: bold;
      line-height: 1.25em;
      margin: 0;

      @include media(">=tablet") {
        font-size: $font-size-medium;
        margin-bottom: 20px;
      }
    }

    &__trigger-wrapper {
      text-align: right;
    }

    &__trigger {
      display: inline-block;

      @include media("<desktop") {
        margin-bottom: 10px;
      }
    }

    &__mobile-btn-wrapper {
      @include media(">=tablet", "<desktop") {
        text-align: center;
      }
    }
  }
}

.explication-card {
  text-align: center;
  margin: 0 auto;
  background: $white;
  max-width: 255px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);

  &__content {
    padding: 0 15px 15px;

    @include media(">=tablet") {
      padding: 0 20px 36px;
    }
  }

  &__title {
    font-size: 20px;
    margin-top: 18px;

    @include media(">=tablet") {
      margin-bottom: 30px;
    }
  }
}

/**
* Footer
*/

.footer {
  &__main {
    margin-top: $section-padding-top;

    background: url(../../public/images/background-footer.jpg) no-repeat center
      bottom/contain;
    padding: 0 100px 90px;
  }

  &__legal {
    font-size: 13px;
    opacity: 0.6;
    margin-top: $section-padding-top;
  }

  &__mobile {
    margin-top: 4px;
    background: #f6f7f9;
    text-align: center;

    @include media(">=tablet") {
      display: flex;
      justify-content: center;
    }

    &__wrapper {
      padding: 20px;

      & + & {
        @include media("<tablet") {
          border-top: solid 1px #dddee0;
        }
      }
    }

    &__title {
      font-size: $font-size-normal;
    }

    a {
      display: block;

      + a {
        margin-top: 15px;
      }
    }
  }
}

.social-wrapper {
  display: flex;
  align-items: center;
  margin-top: 20px;

  &__icons {
    margin-left: 20px;
  }
}

.social-link {
  display: inline-block;

  img {
    display: block;
  }

  & + & {
    margin-left: 3px;
  }
}

.ad {
  text-transform: uppercase;
}
